<h1>Hello from projects index page</h1>
<p>Create a new Project <%= link_to "here", new_project_path %></p>

<% @projects.each do |p| %>
  <h3><%= p.title %> </h3>
  <p><%= p.summary %> </p>
<% end %>


