<p> <%= link_to 'Go back to all projects', projects_path %></p>

<h1><%= @project.title %></h1>
<hr>

<p> <%= @project.summary %></p>
<hr>

<p>Looks like your are still missing some characters to build a plot...</p>
<p> You can just go for the character creation <%= link_to 'here', new_project_character_path(@project) %> </p>
