<h1>Hello from the Characters index page</h1>

<p>There are currently <%= @characters.count %> characters for this project:</p>
<% @characters.each do |c| %>
  <p><%= c.first_name %> <%= c.last_name %></p>
<% end %>
